<h1><%= @user.username %></h1>
<h3><%= @user.location %></h3>
<h3><%= @user.bio %></h3>

<div class="row">
	<% @user.tweets.each do |tweet| %>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><%= tweet.message %></p>
			</div>
		</div>
	</div>
	<% end %>
</div>

<% if current_user.id != @user.id %>
	<% if current_user.following.include?(@user.id) %>
		<%= form_tag('/unfollow') do %>
			<div class="cant-see-me">
				<%= number_field_tag :unfollow_id, @user.id %>
			</div>
			<%= submit_tag 'Unfollow', class: 'btn btn-danger' %>
		<% end %>
	<% else %>
	<div>
		<%= form_tag('/now_following') do %>
		<span class="cant-see-me">
			<%= text_field_tag :follow_id, @user.id %>
		</span><br />
		<%= submit_tag 'Follow', class: 'btn btn-primary' %>
		<% end %>
	</div>
	<% end %>
<% end %>

